
body {
    font-family: 'Inter', sans-serif;
}
nav a {
    margin-right: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    display: inline-block;
    padding-bottom: 3px;
}
nav a.active {
    color: blue;
    border-bottom: 2px solid blue;
}
.reset-button {
    display: inline-block;
    margin-top: 15px;
    padding: 8px 25px;

    background-color: transparent;
    color: #000000;

    text-decoration: none;
    font-weight: bold;
    font-family: 'Inter', sans-serif;

    border: 3px solid #000000;
    border-radius: 12px;

    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.reset-button:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

input[type="number"],
input[type="text"],
select {
    width: 200px;
    padding: 5px 15px;
    margin-top: 5px;
    margin-bottom: 15px;


    border: 3px solid #000000;
    border-radius: 8px;

    background-color: transparent;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    outline: none;
    box-sizing: border-box;
}


input:focus {
    background-color: rgba(0, 0, 0, 0.02);
}
.convert-button {
    /* Додаємо ці рядки, щоб скинути налаштування браузера */
    -webkit-appearance: none;
    appearance: none;
    display: inline-block;


    margin-top: 15px;
    padding: 8px 25px;
    background-color: transparent;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    border: 3px solid #000000;
    border-radius: 12px;

    /* Важливо: скидаємо ширину та марджини, які могли прийти від загального input */
    width: auto;
    margin-bottom: 0;

    transition: all 0.2s ease-in-out;
    cursor: pointer;
    line-height: normal; /* Щоб текст був по центру */
}
.convert-button:hover {
    background-color: rgba(0, 0, 0, 0.05);
}