<!DOCTYPE html>
<link rel="stylesheet" th:href="@{/css/style.css}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>afterconventor</title>
</head>
<body>
<h2>Unit Conventor</h2>
<br>
<nav>
    <a href="/length" th:class="${activePage == 'length' ? 'active' : ''}">Length</a>
    <a href="/weight" th:class="${activePage == 'weight' ? 'active' : ''}">Weight</a>
    <a href="/temperature" th:class="${activePage == 'temperature' ? 'active' : ''}">Temperature</a>
</nav>
<br>
<form action="/afterconvention" method="get">
    <div class="result-display">
        <h4>Result for your calculation</h4>
        <p>
            <span th:text="${originalValue}"></span>
            <span th:text="${type}"></span>
            =
            <strong th:text="${result}"></strong> <span th:text="${type2}"></span>
            <br>
            <a th:href="@{/{path}(path=${activePage})}" class="reset-button">Reset</a>
        </p>
    </div>
</form>
</body>
</html>

